$primary-color: rgba(37, 110, 19, 0.699);
$secondary-color: rgb(77, 10, 5);
$cancel-color: rgb(211, 223, 236);

.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	display: grid;
	background-color: lighten(lightgrey, 10%);
	padding: 50px;

	input {
		padding: 10px;
		width: 25wh;
	}

	label {
		display: grid;
		margin-bottom: 30px;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;

	.principal {
		background-color: $primary-color;
		color: white;
		padding: 50px;
		margin: 50px;
		font-size: 16pt;
	}

	.primary {
		background-color: $primary-color;
		color: white;
	}

	.secondary {
		background-color: $secondary-color;
		color: white;
	}

	.cancel {
		background-color: $cancel-color;
		color: black;
	}

	button {
		padding: 10px 30px;
		margin-left: 10px;
	}
}

.regiao {
	width: 200px;
	background-color: grey;
	padding: 20px;
	margin-bottom: 5px;
	color: white;
	font-weight: bold;
	text-align: center;
}

.colorados {
	width: 200px;
	padding: 20px;
	margin-bottom: 5px;
	color: white;
	font-weight: bold;
	text-align: center;
	background-image: linear-gradient(to right, red, white);
}

.gremistas {
	width: 200px;
	padding: 20px;
	margin-bottom: 5px;
	color: white;
	font-weight: bold;
	text-align: center;
	background-image: linear-gradient(to right, black, blue, white);
}
